*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #ff8d8d;
}

strong{
    color: #fbff00;
}
.gostoso{
    color:  rgb(76, 0, 255);
}
.orgnize{
    margin: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}